body,html {
	height: 100%;
	background-image: url('../../assets/images/mathtek.jpg');
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
body{
	padding-top: 16%;
	font-family: sans-serif;
    font-weight: bolder;
}
.w-10{
	width: 10% !important;
}
.footer{
	position: absolute;	
	z-index: 1030;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.login-card{
	height: 250px;
    width: 350px
;    margin: 0 auto;
    background: #ffffffed;
    padding: 2%;
    border-radius: 1rem;
    box-shadow: 2px 2px 1px #252424c4;
}